#trivia_title {
  color: white;
  text-align: center;
  /* font-family: "Notable", sans-serif; */
  font-family: "Luckiest Guy", cursive;
  font-weight: 600;
  font-size: 36px;
}
#trivia_div {
  background-color: red;
  /* background-color: #ec4ebdfd; */
  padding: 10px;
  margin: 10px;
}
